.header {
    background: red;
    z-index: 1000;
}
.modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}
.modal__—Åontent {
    max-width: 480px;
    background: white;
    border-radius: 8px;
    padding: 24px;
}
.container {
    z-index: 100;
    position: relative;
}
.hidden {
    display: none;
}

